/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
*.sqlite
/.vs/config/applicationhost.config
/.vs/schnapslet/v15/.suo
/.vs/schnapslet/v17
/.vs/schnapslet
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs
*.log
.vs/config/applicationhost.config
.vs/schnapslet/v15/.suo
.vs/schnapslet/v15/.suo
.vs/schnapslet
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs
*.ctxt
.gradle
.DS_Store
.externalNativeBuild
*.war
.mtj.tmp/
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.iml
