/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
*.sqlite
/.vs/config/applicationhost.config
/.vs/schnapslet/v15/.suo
/.vs/schnapslet/v17
/.vs/schnapslet
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs
*.log
.vs/config/applicationhost.config
.vs/schnapslet/v15/.suo
.vs/schnapslet
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs
*.iml
/android/.gradle
/android/gradle
/android/local.properties
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml
/android/.idea/shelf/
.DS_Store
/android/app/build/generated
/android/app/build/intermediates
/android/app/build/tmp
/android/app/build/outputs/logs
/android/app/build/outputs/mapping
/android/app/build/outputs/sdk-dependencies
/captures
.externalNativeBuild
*.ctxt
.gradle
*.war
.mtj.tmp/
*.nar
*.ear
hs_err_pid*
