*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/modules
/.idea/shelf
/.idea/ukraine
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml




/app/build/generated
/app/build/intermediates
/app/build/outputs/logs
/app/build/outputs/mapping
/app/build/outputs/sdk-dependencies
/app/build/outputs/apk/debug/output-metadata.json
/app/build/outputs/apk/release/output-metadata.json
/app/build/outputs/apk/release/baselineProfiles
/app/build/tmp
/captures
gradle
/local.properties