*.iml
.DS_Store
.externalNativeBuild
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf/
/app/build/generated
/app/build/intermediates
/app/build/outputs/logs
/app/build/outputs/mapping
/app/build/outputs/sdk-dependencies
/app/build/outputs/apk/debug/output-metadata.json
/app/build/outputs/apk/release/output-metadata.json
/app/build/tmp
/captures
gradle
/local.properties