body {
}

#DivSchnapsButtons {
    line-height: normal;
    min-height: 40px;
    min-width: 400px;
    height: 8%;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    font-size: larger;
    background-color: #fefb56;
    background-image: url('cardpics/schnapslet248.gif');
    table-layout: fixed;
    inset-block-start: initial;
}

span.SchnapsBtn {
    min-height: 40px;
    min-width: 60px;
    width: 15%;
    height: 8%;
    vertical-align: middle;
    text-align: left;
    font-size: large;
}