body {
}

.SchnapsBtnDiv, #SchnapsBtn1 {
    line-height: normal;
    min-height: 40px;
    min-width: 400px;
    height: 8%;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    font-size: larger;
    background-color: #fefb56;
    background-image: url('cardpics/schnapslet248.gif');
    table-layout: fixed;
    inset-block-start: initial;
}

.SchnapsBtnWidth56px, #bContinue, #bChange, #b20a, #b20b {
    min-height: 40px;
    min-width: 56px;
    font-size: large;
}
.SchnapsBtnWidth40px, #bMerge {
    min-height: 40px;
    min-width: 40px;
    font-size: large;
}
.SchnapsBtnWidth36px, #bHelp, #bStop {
    min-height: 36px;
    min-width: 36px;
    font-size: large;
}

span.SchnapsBtnSpan {
    min-height: 40px;
    min-width: 60px;
    width: 15%;
    height: 8%;
    vertical-align: middle;
    text-align: left;
    font-size: large;
}

span.SchnapsBtnSpanWidth12 {
    min-height: 40px;
    min-width: 60px;
    width: 12%;
    height: 8%;
    vertical-align: middle;
    text-align: left;
    font-size: large;
}
span.SchnapsBtnSpanWidth10 {
    min-height: 40px;
    min-width: 36px;
    width: 10%;
    height: 8%;
    vertical-align: middle;
    text-align: left;
    font-size: large;
}

.SchnapsStackDiv,
#SchnapsStack {
    line-height: normal;
    min-height: 96px;
    min-width: 72px;
    height: 10%;
    width: 100%;
    margin-top: 8px;
    font-size: medium;
    background-color: #fefb56;
    table-layout: fixed;
    inset-block-start: auto;
}

.SchnapsStackSpanWidthH96W72 {
    min-height: 96px;
    min-width: 72px;
    height: 10%;
    width: 15%;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: medium;
}

.SchnapsStackSpanH96W96 {
    visibility: visible;
    min-height: 96px;
    min-width: 96px;
    height: 10%;
    width: 20%;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 10;
    text-align: left;
    font-size: medium;
}

.SchnapsStackSpanWidthH96W72A {
    visibility: hidden;
    min-height: 96px;
    min-width: 72px;
    height: 10%;
    width: 15%;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 10;
    text-align: left;
    font-size: medium
}

.SchnapsStackSpanH72W96 {
    visibility: hidden;
    min-height: 72px;
    min-width: 96px;
    height: 8%;
    width: 18%;
    margin-left: -6%;
    margin-top: 2%;
    z-index: 100;
    text-align: left;
    vertical-align: top;
    font-size: medium;
}

.TalonImage, #imTalon {
    width: 18%;
    margin-top: 2%;
    z-index: 110;
    tab-size: inherit;
}

.MergeImage, #imMerge11 {
    z-index: 2;
    border-style: none;
}

.SchnapsStackStitches, #spanComputerStitches {
    visibility: hidden;
    min-height: 96px;
    min-width: 96px;
    height: 10%;
    width: 18%;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 10;
    text-align: right;
    font-size: medium;
}

.ComputerStich0a, #ImageComputerStitch0a {
    z-index: 2;
    border-style: none;
}

.ComputerStich0b, #ImageComputerStitch0b {
    z-index: 2;
    margin-left: -12%;
    margin-top: 1px;
}

.PlayerStack, #DivPlayerStack {
    line-height: normal;
    min-height: 96px;
    min-width: 72px;
    height: 10%;
    width: 100%;
    font-size: medium;
    background-color: #fefb56;
    table-layout: fixed;
    inset-block-start: auto;
}

.cardImgSpan, #spanIm0, #spanIm1, #spanIm2, #spanIm3, #spanIm4 {
    min-height: 96px;
    min-width: 72px;
    height: 10%;
    width: 15%;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: medium;
}

.ImageCard, #im0, #im1, #im2, #im3, #im4 {
    border-style: groove;
    border-color: azure;
    border-width: 2px;
}

.tableTournamentSpan {
    min-height: 96px;
    min-width: 120px;
    height: 10%;
    width: 25%;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: medium;
    visibility: visible;
}

.TableTournament, #tableTournement {
    display: inline-table;
    font-size: large;
    vertical-align: top;
    text-align: right
}



.SchnapsPointMsgDiv, #SchnapsPointMsg {
    line-height: normal;
    vertical-align: middle;
    height: 8%;
    width: 100%;
    font-size: larger;
    margin-top: 8px;
    background-color: #fefb56;
    table-layout: fixed;
    inset-block-start: initial;
}

.SchnapsPointSpanTextBox {
    width: 5%;
    vertical-align: central;
    text-align: left;
    font-size: large;
    height: 8%;
}

.SchnapsPointTextBox, #tPoints {
    min-height: 40px;
    min-width: 32px;
    font-size: large;
}

.SchnapsPointSpanLabel {
    width: 8%;
    vertical-align: central;
    text-align: left;
    font-size: large;
    height: 8%;
}

.SchnapsPointLabel, #lPoints {
    min-height: 40px;
    min-width: 40px;
    font-size: large;
}

.SchnapsMsgSpan {
    width: 75%;
    vertical-align: middle;
    text-align: left;
    font-size: large;
    height: 8%;
}

.SchnapsMsgTextBox, #tMsg {
    font-size: larger;
}

.PreFormated, #preOut {
    width: 100%;
    height: 12%;
    visibility: visible;
    font-size: large;
    font-family: 'Courier New', Courier, monospace, 'Lucida Console', 'Lucida Sans Unicode';
    scroll-behavior: auto;
}

.SchnapsFooter, #SchnapsFooterDiv {
    line-height: normal;
    text-align: left;
    width: 100%;
    height: 8%;
    visibility: inherit;
    background-color: #bfbfbf;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}